<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>79723746965-l059186vj7inl7ri7h3j74tnhns4gb71.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79723746965-l059186vj7inl7ri7h3j74tnhns4gb71</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>79723746965-mbinj4slq4lkdoaiu303lkprnne600os.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCBKiQ1QrKul4APeg-q3QXcVZ6GmEWLI58</string>
	<key>GCM_SENDER_ID</key>
	<string>79723746965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.areYouShippingMe.areYouShippingMe</string>
	<key>PROJECT_ID</key>
	<string>selector-map-d4b19</string>
	<key>STORAGE_BUCKET</key>
	<string>selector-map-d4b19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79723746965:ios:b1799a78a1ee19041e2d9c</string>
</dict>
</plist>